<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
        <link href="/css/font-awesome.min.css" rel="stylesheet">
        <link href="/css/reset.css" rel="stylesheet">
        <link href="/css/pygments.css" rel="stylesheet">
        <link href="/css/counters.css" rel="stylesheet">
        <link href="/css/toc.css" rel="stylesheet">
        <link href="/css/main.css" rel="stylesheet">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="/js/toc.js"></script>
    </head>
    <body>