<script type="text/javascript">
	$(document).ready(function() {
		console.log("Init navigation");
		var active = document.querySelector( 'header nav.mainnav li a.active' ).innerHTML.toLowerCase(),
		    links = document.querySelectorAll( 'header nav.mainnav li a'),
		    selection = document.querySelector( 'header .nav-selection' ),
		    i, j, link;
		for ( i = 0; i < links.length; i++ ) {
		    link = links[ i ];
		    link.addEventListener( 'mouseover', function() {
		        selection.className = 'nav-selection';
		        selection.className = 'nav-selection ' + this.innerHTML.toLowerCase();
		        console.log(this.innerHTML.toLowerCase());
		    });
		    link.addEventListener( 'mouseout', function() {
		        selection.className = 'nav-selection ' + active;
		    });
		}
		
        var subactive = document.querySelector( 'header nav.subnav a.active' ).innerHTML.toLowerCase(),
        	sublinks = document.querySelectorAll( 'header nav.subnav li a'),
        	subselection = document.querySelector( 'header .subnav-selection' ),
            i, j, link;
        for ( i = 0; i < sublinks.length; i++ ) {
            link = sublinks[ i ];
            link.addEventListener( 'mouseover', function() {
                subselection.className = 'subnav-selection';
                subselection.className = 'subnav-selection ' + this.innerHTML.toLowerCase();
            });
            link.addEventListener( 'mouseout', function() {
                subselection.className = 'subnav-selection ' + subactive;
            });
        }
	});
</script>