{% include head.html %}
{% include nav_script.html %}
{% include counters_script.html %}
{% include toc_script.html %}
	<div class="wrapper">
		<header>
			<div class="container">
		    	{% include header.html %}
			
		    	{% include nav.html %}
			</div>
	    </header>
	    
	    <article class="container">
	    	
		    <h1>{{ page.title }}</h1>
	    
	    	<div class="toc"></div>
		
		    {{ content }}
	    
	    </article>
	
	    <div id="footer">
	    	{% include footer.html %}
	    </div>
    </div>

{% include foot.html %}